$colors: (
	primary: (
		light: #f2f2f2,
		dark: #282828,
	),
	secondary: (
		light: #f8f8f8,
		dark: #222222,
	),
);

@function color($color, $value: 0) {
	@return map-get(map-get($colors, $color), $value);
}

:root {
	--vt-c-white: #ffffff;
	--vt-c-white-soft: #f8f8f8;
	--vt-c-white-mute: #f2f2f2;

	--vt-c-black: #181818;
	--vt-c-black-soft: #222222;
	--vt-c-black-mute: #282828;

	--vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
	--vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
	--vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
	--vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

	--vt-c-text-light-1: var(--vt-c-indigo);
	--vt-c-text-light-2: rgba(60, 60, 60, 0.66);
	--vt-c-text-dark-1: var(--vt-c-white);
	--vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

@media (prefers-color-scheme: light) {
	:root {
		--color-background: #{color(secondary, light)};
		--color-background-mute: #{color(primary, light)};
		--color-background-soft: #{color(secondary, light)};

		--color-heading: var(--vt-c-text-light-1);
		--color-text: var(--vt-c-text-light-1);

		--color-inverse: var(--vt-c-black);
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-background: #{color(secondary, dark)};
		--color-background-mute: #{color(primary, dark)};
		--color-background-soft: #{color(secondary, dark)};

		--color-heading: var(--vt-c-text-dark-1);
		--color-text: var(--vt-c-text-dark-2);

		--color-inverse: var(--vt-c-white);
	}
}